{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
{% endblock %}

{% block content %}
  <div class="row my-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Maintenance Windows</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope='row'>{% trans "Name" %}</th>
              <td>{% if object.name %}
                {{ object.name|markdown }}
              {% else %}
                <span class="text-muted">{% trans "None" %}</span>
              {% endif %}</td>
            </tr>

            <tr>
              <th scope='row'>{% trans "Description" %}</th>
              <td>{% if object.description %}
                {{ object.description|markdown }}
              {% else %}
                <span class="text-muted">{% trans "None" %}</span>
              {% endif %}</td>
            </tr>
            <tr>
              <th scope='row'>{% trans "Start Time" %}</th>
              <td>{% if object.start_time %}
                {{ object.start_time|date:"H:i" }}
              {% else %}
                <span class="text-muted">{% trans "None" %}</span>
              {% endif %}</td>
            </tr>
            <tr>
              <th scope='row'>{% trans "End Time" %}</th>
              <td>{% if object.end_time %}
                {{ object.end_time|date:"H:i" }}
              {% else %}
                <span class="text-muted">{% trans "None" %}</span>
              {% endif %}</td>
            </tr>
            <tr>
              <th scope='row'>{% trans "Schedule Type" %}</th>
              <td>{% if object.schedule_type %}
                {{ object.get_schedule_type_display }}
              {% else %}
                <span class="text-muted">{% trans "None" %}</span>
              {% endif %}</td>
            </tr>             
          </table>
        </div>
      </div>
    </div>
      
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>

    <div class="col col-md-6">
        <div class="card">
          <h5 class="card-header">One Time</h5>
          <div class="card-body">
            <table class="table table-hover attr-table">
              {% if object.schedule_type == 'one_time' and object.start_day %}
                <tr>
                  <th scope='row'>{% trans "Start Day" %}</th>
                  <td>{% if object.start_day %}
                    {{ object.start_day }}
                  {% else %}
                    <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}</td>
                </tr>
              {% endif %}
              {% if object.schedule_type == 'one_time' and object.end_day %}
                <tr>
                  <th scope='row'>{% trans "End Day" %}</th>
                  <td>{% if object.end_day %}
                    {{ object.end_day }}
                  {% else %}
                    <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}</td>
                </tr>
              {% endif %}
          </table>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
        <div class="col col-md-6">
          <div class="card">
            <h5 class="card-header">Recurring</h5>
            <div class="card-body">
            <table class="table table-hover attr-table">
              {% if object.schedule_type == 'recurring' and object.recurrence_type %}
                <tr>
                  <th scope='row'>{% trans "Recurrence Type" %}</th>
                  <td>{% if object.recurrence_type %}
                    {{ object.get_recurrence_type_display }}
                  {% else %}
                    <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}</td>
                </tr>
              {% endif %}
              {% if object.schedule_type == 'recurring' %}
                {% if object.recurrence_type == 'weekly' %}
                      {% if object.weekdays %}
                          <tr>
                              <th scope="row">{% trans "Weekdays" %}</th>
                              <td>{{ object.get_weekdays_display }}</td>
                          </tr>
                      {% else %}
                          <tr>
                              <th scope="row">{% trans "Weekdays" %}</th>
                              <td><span class="text-muted">{% trans "None" %}</span></td>
                          </tr>
                      {% endif %}

                      {% if object.week_in_month %}
                          <tr>
                              <th scope="row">{% trans "Week in Month" %}</th>
                              <td>{{ object.get_week_in_month_display }}</td>
                          </tr>
                      {% else %}
                          <tr>
                              <th scope="row">{% trans "Week in Month" %}</th>
                              <td><span class="text-muted">{% trans "None" %}</span></td>
                          </tr>
                      {% endif %}
                  {% endif %}
              {% endif %}
              {% if object.schedule_type == 'recurring'%}
                {% if object.recurrence_type == 'monthly' and object.monthdays %}
                  <tr>
                    <th scope='row'>{% trans "Monthdays" %}</th>
                    <td>{% if object.monthdays %}
                      {{ object.monthdays }}
                    {% else %}
                      <span class="text-muted">{% trans "None" %}</span>
                    {% endif %}</td>
                  </tr>
                {% endif %}
              {% endif %}
              {% if object.schedule_type == 'recurring'%}
                {% if object.recurrence_type == 'weekday_occurrence' or object.recurrence_type == 'workday_occurrence' %}
                  {% if object.special_ordinal %}
                  <tr>
                    <th scope='row'>{% trans "Special Ordinal" %}</th>
                    <td>
                      {% if object.special_ordinal %}
                       <span id="special_ordinal_value">{{ object.special_ordinal }}</span>
                    {% else %}
                      <span class="text-muted">{% trans "None" %}</span>
                    {% endif %}</td>
                  </tr>
                  {% endif %}
                {% endif %}
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/cronstrue@1.48.0/dist/cronstrue.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const cronTextElement = document.getElementById("special_ordinal_value");
      if (cronTextElement) {
        try {
          const raw = cronTextElement.textContent.trim();
          const cron = raw.trim().split(/\s+/).slice(-5).join(" ");  // Normalisieren
          const description = cronstrue.toString(cron);
          cronTextElement.textContent = description;
        } catch (e) {
          cronTextElement.textContent = "❌ Ungültiger Cron-Ausdruck";
        }
      }
    });
  </script>
{% endblock content %}
